<div id="<%= dom_id bookmark %>">
  <p>
    <strong>Name:</strong>
    <%= bookmark.comment %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= bookmark.movie_id %>
  </p>

  <p>
    <strong>List</strong>
    <%= bookmark.list_id %>
  </p>


</div>
